body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    height: 798px;
    width: 100vw;
    background-color: #0A2640;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
    margin-left: 2%;

    
.logo {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    a {
        text-decoration: none;
        color: white;
        font-family: 'Manrope', sans-serif;
        font-weight: 700;
        font-size: 3rem;
    }
}

    .navLinks {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-wrap: nowrap;
        li {
            list-style: none;
            :hover {
                color: #65E4A3;
                transition: 0.5s;
            }
        }
        
        a {
            text-decoration: none;
            color: white;
            font-size: 1rem;
            font-family: 'Open Sans', sans-serif;
            font-size: 1.25rem;
            font-weight: 600;
        }
    
        .logInButton {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            color: #0A2640;
            background-color: white;
            border-radius: 20px;
            font-size: 1.25rem;
            width: 128px;
            height: 40px;
            cursor: pointer;
            border: 0;
        }
    }

    .toggleNavButton {
        width: 30px;
        color: white;
        height: 50px;
        width: 50px;
        margin: 10px 10px;
        display: none;
    }
}


@media (max-width: 800px) {
    .nav {
        .logo {
            align-self: flex-start;
        }

        .navLinks {
            display: none;
        }

        .toggleNavButton {
            display: block;
            cursor: pointer;
        }
    }
}